DJANGO_SECRET_KEY=replace-this-for-staging-and-production
DJANGO_DEBUG=true
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1,0.0.0.0
POSTGRES_DB=bayyin
POSTGRES_USER=bayyin
POSTGRES_PASSWORD=bayyin_local_only
